| {% extends "background/base.html" %}
block pagetitle
    | : 获取新书
- block content
    #NAVID(data-nav='newbook')
    .row
        if success
            .col-xs-12
                .alert.alert-dismissable.alert-success
                    button.close(data-dismiss='alert',type='button') ×
                    strong 获取成功！
                        a(href='javascript:history.go(-1);') [返回]
        elif error
            .col-xs-12
                .alert.alert-dismissable.alert-success
                    button.close(data-dismiss='alert',type='button') ×
                    strong 获取错误！{{error}}
                        a(href='javascript:history.go(-1);') [返回]
                        for b in books
                            | {{book.title}}
        else
            .col-xs-12
                .panel.panel-primary
                    .panel-heading 索引中断章节修复
                    .panel-body
                        form.form-inline(method='POST',action='.')
                            | {% csrf_token %}
                            if not no_title
                                .form-group
                                    input.form-control.empty(name='book_title',placeholder='书名',style='height: 36px;font-size: 30px;')
                            else
                                .form-group.has-error
                                    input.form-control.empty(name='book_title',placeholder='请填写书名！',style='height: 36px;font-size: 30px;')
                            button.btn.btn-success(type='submit') 获取！
                        if object_list
                            table.table
                                thead
                                    tr
                                        th 书名
                                        th TaskID
                                        th 获取时间
                                tbody
                                    for book in object_list
                                        tr
                                            td= book.book_title
                                            td= book.task_id
                                            td= book.create_time|date:"Y-m-d H:i"
                        if pagination.has_other_pages
                            .col-md-12.col-xs-12.col-sm-12.text-center
                                ul.pagination
                                    if pagination.has_previous
                                        li
                                            a(href="#",data-num="1") &lt;&lt;
                                        li
                                            a(href="#",data-num="{{pagination.previous_page_number}}") &lt;
                                    li.active
                                        span= pagination.number
                                    if pagination.has_next
                                        li
                                            a(href="#",data-num="{{pagination.next_page_number}}") &gt;
                                        li
                                            a.fui-arrow-right(href="#",data-num="{{pagination.paginator.num_pages}}") &gt;&gt;
                                    li.disabled: a(href="javascript:;") 共（{{pagination.paginator.num_pages}}）页，{{pagination.paginator.count}}条数据

block footerjs
    script
        $(function () {
            $('button[type="submit"]').click(function(){
                $('button[type="submit"]').addClass('disabled')
            });
        })