{% extends "background/base.html" %}

{% block content %}
<div class="panel panel-primary">
	<div class="panel-heading">书库共有{{book_count|floatformat}}本书籍</div>
	<div class="panel-body">
		
	<div class="" id="maincontainer"></div>
	</div>
</div>
{% endblock content %}

{% block footerjs %}
<script src="http://cdn.staticfile.org/highcharts/4.0.4/highcharts.js"></script>
<script>
$(function () {
	$('#maincontainer').highcharts({
		chart: {
			type: 'pie',
			options3d: {
				enabled: true,
				alpha: 45,
				beta: 0
			}
		},
		title: {
			text: '书籍分类统计, 共{{book_count|floatformat}}本'
		},
		tooltip: {
			pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>',
			headerFormat: '<span>{point.key}: {point.y}本</span><br/>'
		},
		plotOptions: {
			pie: {
				allowPointSelect: true,
				cursor: 'pointer',
				depth: 35,
				dataLabels: {
					enabled: true,
					format: '{point.name}: {point.y}本'
				}
			}
		},
		series: [{
			type: 'pie',
			name: 'Browser share',
			data: {{category_data|safe}}
		}]
	});
});
</script>
{% endblock footerjs %}
