| {% extends "background/base.html" %}
block pagetitle
	| : 书籍搜索 - 断章修复
- block content
	#NAVID(data-nav="booksearch")
	.row
		if success
			.col-xs-12
				.alert.alert-dismissable.alert-success
					button.close(data-dismiss="alert",type="button") ×
					strong 修复成功！
						a(href="{% url 'bbg:book_search' %}") [返回书籍搜索]
		.col-xs-12
			.panel.panel-primary
				.panel-heading 索引中断章节修复
				.panel-body
					if bookpages
						table.table
							thead
								tr
									th 书号
									th(style="width:450px;") 章节
									th 操作
							tbody
								for page in bookpages
									tr
										td(title=page.book_number)= page.book_number
										td(title=page.title)= page.title
										td
											a.btn.btn-xs.btn-info(href="javascript:;") 查找下一章
					.col-md-12.col-xs-12.text-center
						form(action=".",method="POST")
							| {% csrf_token %}
							a.btn.btn-danger.btn-flat(href="?showall=1") 显示全部
							button.btn.btn-success.btn-flat(type="submit") 全部纠正
							a.btn.btn-link(href="{% url 'bbg:book_search' %}") 返回搜索
					if pagination.has_other_pages
						.col-md-12.col-xs-12.col-sm-12.text-center
							ul.pagination
								if pagination.has_previous
									li
										a(href="#",data-num="1") &lt;&lt;
									li
										a(href="#",data-num="{{pagination.previous_page_number}}") &lt;
								li.active
									span= pagination.number
								if pagination.has_next
									li
										a(href="#",data-num="{{pagination.next_page_number}}") &gt;
									li
										a.fui-arrow-right(href="#",data-num="{{pagination.paginator.num_pages}}") &gt;&gt;
								li.disabled: a(href="javascript:;") 共（{{pagination.paginator.num_pages}}）页，{{pagination.paginator.count}}条数据
block footerjs
	script
		$(function () {
		})
