{% extends "background/base.html" %}

{% block content %}
<div id="NAVID" data-nav="replace"></div>
<div class="row">
	<div class="col-xs-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				替换规则
				<button data-toggle="modal" data-target="#myModal" class="btn btn-sm btn-success pull-right">创建</button>
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<td>规则</td>
							<td style="width:150px;">操作</td>
						</tr>
					</thead>
					<tbody>
				{% for rep in replace_rule %}
						<tr>
							<td>{{rep}}</td>
							<td class="table-action">
								<button class="btn btn-xs btn-primary apply-rule" data-pk="{{rep.db_data.pk}}">应用</button>
								<a class="btn btn-xs btn-success" href="{% url 'bbg:edit_rule' rep.db_data.pk %}">编辑</a>
								<a class="btn btn-xs btn-danger" href="{% url 'bbg:delete_rule' rep.db_data.pk %}">删除</a>
							</td>
						</tr>
				{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="panel panel-primary">
			<div class="panel-heading">替换历史</div>
			<div class="panel-body">
				
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="newRuleForm" action="." class="form-horizontal" method="POST">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="myModalLabel">创建替换规则</h4>
				</div>
				<div class="modal-body">
				{% with create_rule_form as CRF %}
					{% csrf_token %}
					<div class="form-group{% if CRF.rule_res.errors %} has-error{% endif %}">
						<label for="inputRe" class="col-lg-2 control-label">{{CRF.rule_res.label}}</label>
						<div class="col-lg-10">
							<input type="text" value="{{CRF.rule_res.value|default:''}}" name="rule_res" class="form-control" id="inputRe">
							<span class="help-block">{{CRF.rule_res.errors}}</span>
						</div>
					</div>
					<div class="form-group{% if CRF.replace_to.errors %} has-error{% endif %}">
						<label for="inputReplace" class="col-lg-2 control-label">{{CRF.replace_to.label}}</label>
						<div class="col-lg-10">
							<input type="text" value="{{CRF.replace_to.value|default:''}}" name="replace_to" class="form-control" id="inputReplace">
							<span class="help-block">{{CRF.replace_to.errors}}</span>
						</div>
					</div>
				{% endwith %}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-raised" data-dismiss="modal">关闭</button>
					<button type="submit" class="btn btn-primary btn-raised">保存</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock content %}

{% block footerjs %}
<script>
	$(function(){
		{% if create_rule_form.errors or edit_rule %}
		$("#myModal").modal('show')
		{% endif %}
	});
</script>
{% endblock footerjs %}
