body{
	padding-top: 0px;
}
body.invert{
	background-color: #000;
}
.pull-right{
	float: right;
	display: block;
}
.panel-body.bookinfo{
	height: 260px;
	overflow-y: scroll;
	text-indent:2em;
}

.pagelist .col-md-4{
	padding-right: 0px;
	padding-left: 1px;
	padding-bottom: 1px;
}
#Pages{
	margin-left: 0px;
	margin-right: 0px;
}
.page-title{
	display: block;
	white-space:nowrap;
	color: #FFFFFF;
	word-break: break-all;
	overflow-x: hidden;
}
.page-title:hover{
	text-decoration:underline;
	background-color: #3498DB;
	color: #FFFFFF;
}

.page-title:visited{
	color: #000000;
	background-color: #1ABC9C;
}
.breadcrumb.invert{
	background-color: #383838;
}
.pagecontent{
	text-indent: 2em;
	word-wrap: break-word;
}
.pagecontent>h2{
	padding-bottom: 30px;
}
.pagecontent>p{
	font-size: 20px;
	line-height: 40px;
	word-wrap: break-word;
}
.pagecontent.invert{
	color: #9FA1B4;
	background-color: #000000;
}
@media (max-width: 768px) {
	.pagecontent>p {
		font-size: 14px;
		line-height: 20px;
	}
}
.pagebutton{
	padding-top: 20px;
}
.nextbox{
	height: 105px;
	line-height: 70px;
	font-size: 26px;
}
footer.invert{
	background-color: #000000;
}
.bs-docs-footer {
	padding-top: 40px;
	padding-bottom: 40px;
	color: #777;
	text-align: center;
	border-top: 1px solid #e5e5e5;
}
.bs-docs-footer-links {
	padding-left: 0;
	margin-top: 20px;
	color: #999;
}
.bs-docs-footer-links li {
	display: inline;
	padding: 0 2px;
}
.bs-docs-footer-links li>a{
	color: #1abc9c;
}
.transparent_class {
	filter:alpha(opacity=45);
	-moz-opacity:0.45;
	-khtml-opacity: 0.45;
	opacity: 0.45;
}
span.tha {
	color: #169;
	text-decoration: none;
	cursor: pointer;;
}

.PGDOWN {
	position: absolute;
	height: 100%;
	background-color: #341256;
	padding: 0px;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
}
.PGUP {
	position: absolute;
	height: 100%;
	background-color: #652143;
	padding: 0px;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
}
