{% load static %}
{% load assets %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>{% spaceless %}{% block pagetitle %}这里是{% endblock pagetitle %}{% endspaceless %} -- 看小说么</title>
	<meta name="keywords" content="{% spaceless %}{% block keymeta %}看小说么,玄幻小说,侦探小说,网游小说,武侠小说,都市小说,历史小说,言情小说,网络小说,网络文学{% endblock keymeta %}{% endspaceless %}">
	<meta name="description" content="{% spaceless %}{% block keydesc %}看小说,么?最简洁的小说阅读网站,提供都市小说.玄幻小说.仙侠小说.历史小说.网游小说.免费小说等在线阅读.{% endblock keydesc %}{% endspaceless %}">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="apple-touch-icon" href="{% static 'img/iapp.ico.jpg' %}">
	<link rel="shortcut icon" href="{% static 'img/iapp.ico.jpg' %}" type="image/x-icon">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="看小说么">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	{% assets "css_all" %}
		<link href="{{ ASSET_URL }}" rel="stylesheet">
	{% endassets %}
	{% if BAIDUTONGJI_ID %}
		{% include "baidutongji.html" %}
	{% endif %}
	{% if GA_ID %}
		{% include "googleanalytics.html" %}
	{% endif %}
	{% block headercss %}
	{% endblock headercss %}
	{% block headerjs %}
	<script>var DATA_DIC = DATA_DIC || {}</script>
	{% endblock headerjs %}

</head>
<body class="inv{% if invert %} invert{% endif %}">
{% spaceless %}
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">看小说么?</a>
			</div>
			<div class="navbar-collapse collapse navbar-responsive-collapse">
				<ul class="nav navbar-nav main">
					<li class="dropdown" id="nav-category">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">{%if category%}{{category}}{% else %}书库索引{%endif%}</a>
						<span class="hidden-xs dropdown-arrow dropdown-arrow-inverse"></span>
						<ul class="dropdown-menu dropdown-inverse" role="menu">
							{% for ca in categorys %}
								{% if ca.name %}<li id="nav{{ca.key}}"><a href="{% url 'category' ca.key %}">{{ca.name}}</a></li>{% endif %}
							{% endfor %}
						</ul>
					</li>
					<li id="navp">
						<a href="{% url 'bookrank' %}?s=all_push">排行榜单</a>
					</li>
					<li id="navnews" class="hidden-sm">
						<a href="{% url 'booknews' %}">最近更新</a>
					</li>
					{% if user.is_superuser %}
					<li>
						<a href="{% url 'bbg:home' %}">管理后台</a>
					</li>
					{% endif %}
				</ul>
				<ul class="nav navbar-nav navbar-right">
					{% if user.is_authenticated %}
					<li class="dropdown">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">个人中心{% if bookmark_update %} <span class="readpoint">&nbsp;</span>{% endif %}<span class="caret"></span></a>
						<span class="hidden-xs dropdown-arrow dropdown-arrow-inverse"></span>
						<ul class="dropdown-menu dropdown-inverse" role="menu">
							<li><a href="javascript:;">{{user.username}}</a></li>
							<li><a href="{% url 'changepwd' %}">修改密码</a></li>
							<li id="navbma"><a href="{% url 'bookmark' %}">我的书架{% if bookmark_update %} <span class="badge badge-danger">{{ bookmark_update }}</span>{% endif %}</a></li>
							<li class="divider"></li>
							<li><a href="{% url 'logout' %}">登出</a></li>
						</ul>
					</li>
					{% else %}
					<li><a href="{% url 'login' %}">登录</a></li>
					<li><a href="{% url 'signup' %}">注册</a></li>
					{% endif %}
				</ul>
				<form class="navbar-form navbar-right" action="/" method="get" role="search">
					<div class="form-control">
						<input name="s" class="form-control col-lg-8" id="navbarInput-01" type="search" placeholder="搜索书籍">
						<button class="btn btn-link" type="submit"><span class="input-icon glyphicon glyphicon-search"></span></button>
					</div>
				</form>
			</div>
		</div>
	</nav>
{% endspaceless %}
	<div class="container">
	{% block content %}{% endblock content %}
	</div>
	{% block footerblock %}{% endblock footerblock %}
	<footer class="bs-docs-footer inv">
		<div class="container text-center">
			<p>本网站由<a href="http://twitter.com/ouyanghongyu" target="_blank">@ouyanghongyu</a>设计与制作.</p>
			<p>更多信息请查看<a href="https://github.com/tkliuxing/bookspider">我的GitHub</a>.</p>
			<p>本项目源码受 <a href="https://github.com/tkliuxing/bookspider/blob/master/LICENSE" target="_blank">Apache</a> 开源协议保护. 本站收录文章版权归原作者所有.</p>
			<ul class="bs-docs-footer-links muted">
				<li>当前版本： v2.0</li>
				<li>·</li>
				<li><a href="https://github.com/tkliuxing/bookspider">GitHub 仓库</a></li>
				<li>·</li>
				<li><a href="https://github.com/tkliuxing/bookspider/issues?state=open">Issues</a></li>
			</ul>
		</div>
	</footer>
	{% assets "js_all" %}
		<script src="{{ ASSET_URL }}" rel="stylesheet"></script>
	{% endassets %}
	{% block footerjs %}
	{% endblock footerjs %}

</body>
</html>
