extends "usercenter/base.html"

block pagetitle
	| &nbsp;--&nbsp;个人中心-我的书签

block content
	.row#NAVID(data-nav="navbma")
		.col-md-12
			table.table
				tr
					th 书籍
					th.hidden-xs 已读章节
					th 最新章节
					th.hidden-xs 最后更新时间
					th
				if bookmarks
					for bookmark in bookmarks
						tr
							td: a(href="{% url 'bookmark_read' bookmark.id bookmark.page.id %}")= bookmark.book.title
								if bookmark.update
									| &nbsp;
									span.label.label-xs.label-danger 有更新
							td.hidden-xs: a(href="{% url 'bookmark_read' bookmark.id bookmark.page.id %}")= bookmark.page.title_html
							td: a(href="{% url 'bookmark_read' bookmark.id bookmark.book.last_page.id %}")= bookmark.book.last_page.title_html
							td.hidden-xs= bookmark.book.last_update|date:"Y-m-d H:i"
							td: a.delbma.btn.btn-info.btn-xs(href="javascript:;",data-url="{% url 'del_bookmark' bookmark.pk %}") 删除
				else
					tr
						td 未添加任何书签!
						td 不是要看小说么?
						td 快去找本书看吧!
