extends "usercenter/base.html"

block content
	.col-md-2 &nbsp;
	.col-md-8
		.hidden-xs.alert.alert-success.text-center
			p
				h5 修改密码
		if success
			.alert.alert-info.fade.in(role="alert")
				button.close(type="button",data-dismiss="alert")
					span(aria-hidden="true") x
					span.sr-only Close
				span 修改成功!
		.well
			form.form-horizontal(role="form",action=".",method="post")
				| {% csrf_token %}
				for field in form
					.form-group(class="{% if field.errors %} has-error{% endif %}")
						label.share-label.col-sm-2(for="{{field.id_for_label}}")= field.label
						.col-sm-10
							if forloop.first
								input.form-control(name="{{field.html_name}}",type="password",autofocus="")
							else
								input.form-control(name="{{field.html_name}}",type="password")
							if field.errors
								span.help-block= field.errors.as_text
				button.btn.btn-large.btn-primary.btn-block(type="submit") 提交
	.col-md-2 &nbsp;
