{% extends "usercenter/base.html" %}

{% block content %}
<div class="col-md-2">&nbsp;</div>
<div class="col-md-8">
	<div class="hidden-xs alert alert-success text-center">
		<p>
			<h5>修改密码</h5>
		</p>
	</div>
	{% if success %}
	<div class="alert alert-info fade in" role="alert">
		<button type="button" class="close" data-dismiss="alert">
			<span aria-hidden="true">×</span>
			<span class="sr-only">Close</span>
		</button>
		修改成功!
	</div>
	{% endif %}
	<div class="well">
		<form class="form-horizontal" role="form" action="." method="post">
			{% csrf_token %}
			{% for field in form %}
			<div class="form-group{% if field.errors %} has-error{% endif %}">
				<label class="share-label col-sm-2" for="{{field.id_for_label}}">{{field.label}}</label>
				<div class="col-sm-10">
					<input id="{{field.id_for_label}}" class="form-control" name="{{field.html_name}}" type="password"{% if forloop.first %} autofocus=""{% endif %}>
					{% if field.errors %}
					<span class="help-block">{{field.errors.as_text}}</span>
					{% endif %}
				</div>
			</div>
			{% endfor %}
			<button class="btn btn-large btn-primary btn-block" type="submit">提交</button>
		</form>
	</div>
</div>
<div class="col-md-2">&nbsp;</div>
{% endblock content %}

