{% extends "usercenter/base.html" %}

{% block content %}
<div class="col-md-3">&nbsp;</div>
<div class="col-md-6">
	<div class="hidden-xs alert alert-success text-center">
		<p>
			<h5>注册</h5>
			<span>"呦!今天你来看小说么?"</span><br/>
			<span>"填完了赶进去收藏一些吧!"</span>
		</p>
	</div>
	<div class="well">
		<form class="form-horizontal" role="form" action="." method="post" id="login-form">
			{% csrf_token %}
			<div class="form-group{% if form.errors %} error{% endif %}">
				<label class="share-label col-sm-2" for="id_captcha">验证码</label>
				<div class="col-sm-10" id="CAPTCHA" data-url="{% url 'captcha-refresh' %}">
					{{form.captcha}}
				</div>
			</div>
			<div class="form-group{% if form.errors %} error{% endif %}">
				<label class="share-label col-sm-2" for="id_username">用户名</label>
				<div class="col-sm-10">
					<input id="id_username" class="form-control" maxlength="30" name="username" type="text" value="{{form.username.value|default:''}}">
				</div>
			</div>
			<div class="form-group{% if form.errors %} error{% endif %}">
				<label class="share-label col-sm-2" for="id_email">Email</label>
				<div class="col-sm-10">
					<input id="id_email" class="form-control" maxlength="30" name="email" type="text" value="{{form.email.value|default:''}}">
				</div>
			</div>
			<div class="form-group{% if form.errors %} error{% endif %}">
				<label class="share-label col-sm-2" for="id_password1">密码</label>
				<div class="col-sm-10">
					<input id="id_password1" class="form-control" name="password1" type="password">
				</div>
			</div>
			<div class="form-group{% if form.errors %} error{% endif %}">
				<label class="share-label col-sm-2" for="id_password2">校验密码</label>
				<div class="col-sm-10">
					<input id="id_password2" class="form-control" name="password2" type="password">
				</div>
			</div>
			<input type="hidden" name="this_is_the_signup_form" value="1" />
			<input type="hidden" name="next" value="{{ next }}" />
			<button class="btn btn-large btn-primary btn-block" type="submit" id="signup">注册</button>
			{% if form.errors %}
			<div class="alert alert-danger text-center">
				{% if form.captcha.errors %}
				<p>验证码错误</p>
				{% endif %}
				{% if form.username.errors %}
				<p>用户名已存在</p>
				{% endif %}
				{% if form.email.errors %}
				<p>Email已存在</p>
				{% endif %}
				{% if form.password1.errors %}
				<p>请填写密码</p>
				{% endif %}
				{% if form.password2.errors %}
				<p>密码不一致</p>
				{% endif %}
			</div>
			{% endif %}
		</form>
	</div>
</div>
<div class="col-md-3">&nbsp;</div>
{% endblock content %}

