{% extends "h5/base.html" %}

{% block content %}
<div data-role="page" id="home" data-theme="{%if invert%}b{%else%}a{%endif%}">
	<div data-role="header"
	data-position="fixed">
		<a href="javascript:;" data-role="button" data-rel="back" data-icon="carat-l">返回</a>
		<h1>书架</h1>
		<a href="{% url 'h5:h5' %}" data-role="button" data-icon="home">首页</a>
	</div>

	<div data-role="content">
	{% for bookmark in bookmarks %}
		<div data-role="collapsible" data-iconpos="right" data-mini="true" data-expanded-icon="arrow-d" data-collapsed-icon="arrow-d-l">
			<h4>{{bookmark.book.title}}</h4>
			<p>{{bookmark.page.title_html}}</p>
			<a href="{% url 'h5:bookpage' bookmark.page.page_number %}" data-transition="slide" data-role="button">阅读</a>
			<a href="javascript:;" class="delbma" data-role="button" data-url="{% url 'del_bookmark' bookmark.pk %}">删除</a>
		</div>
	{% endfor %}
	</div>

</div>
{% endblock content %}
