{% extends "book/base.html" %}
{% load static %}
{% block pagetitle %} -- {{book.title}} {{bookpage.title_html}}{% endblock pagetitle %}
{% block headercss %}
<link href="{% static 'js/spectrum/spectrum.css' %}" rel="stylesheet">
{% endblock headercss %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li class="hidden-xs"><a href="/">书籍列表</a></li>
			<li><a href="{% url 'bookindex' book.pk %}">{{book.title}}书目</a></li>
			<li class="active hidden-xs">{{bookpage.title_html}}</li>
		</ol>
	</div>
	<div class="col-md-12 text-center">
		<h2 class="text-center hidden-xs">{{bookpage.title_html}}</h2>
		<h5 class="text-center visible-xs">{{bookpage.title_html}}</h5>
		<div class="col-md-12">
		{% if user.is_superuser %}
		<a target="_blank" href="/admin/book/bookpage/{{bookpage.pk}}/">编辑信息</a>
		{% endif %}
		</div>
		<div class="btn-group">
			{% if bookpage.prev_number %}
			<a href="{% url 'bookpage' bookpage.prev_number %}" class="btn btn-success">
				<span class="fui-arrow-left"></span>
				<span>上一页</span>
			</a>
			{% else %}
			<a href="{% url 'bookindex' book.pk %}" class="btn btn-success">
				<span class="fui-arrow-left"></span>
				<span>上一页</span>
			</a>
			{% endif %}
			<a href="javascript:;" class="btn btn-info" id="TBMABtn">加入书签</a>
			{% if bookpage.next_number %}
			<a href="{% url 'bookpage' bookpage.next_number %}" class="btn btn-success">
				<span>下一页</span>
				<span class="fui-arrow-right"></span>
			</a>
			{% else %}
			<a href="{% url 'bookindex' book.pk %}" class="btn btn-success">
				<span>下一页</span>
				<span class="fui-arrow-right"></span>
			</a>
			{% endif %}
		</div>
		<div class="col-md-10 col-md-offset-1 text-center pagebutton">
			<div class="alert alert-info" role="alert" id="TBMA" style="display:none;">
				书签已添加, 请到<strong>书架</strong>查看
			</div>
			<div class="alert alert-danger" role="alert" id="TBMAERR" style="display:none;"></div>
		</div>
	</div>
	<div class="col-md-12">&nbsp;</div>
	<div class="col-md-1">&nbsp;</div>
	<div class="col-md-10 pagecontent">
		{{bookpage.content_html|linebreaks}}
	</div>
	<div class="col-md-1">&nbsp;</div>
	<div class="col-md-12 text-center pagebutton">
		<div class="btn-group">
			{% if bookpage.prev_number %}
			<a href="{% url 'bookpage' bookpage.prev_number %}" class="btn btn-success">
				<span class="fui-arrow-left"></span>
				<span>上一页</span>
			</a>
			{% else %}
			<a href="{% url 'bookindex' book.pk %}" class="btn btn-success">
				<span class="fui-arrow-left"></span>
				<span>上一页</span>
			</a>
			{% endif %}
			<a href="{% url 'bookindex' book.pk %}" class="hidden-xs btn btn-primary">回目录</a>
			<a href="javascript:;" class="btn btn-info" id="BMABtn">加入书签</a>
			<a href="javascript:;" class="hidden-xs btn btn-primary invert">反色</a>
			{% if bookpage.next_number %}
			<a href="{% url 'bookpage' bookpage.next_number %}" class="btn btn-success">
				<span>下一页</span>
				<span class="fui-arrow-right"></span>
			</a>
			{% else %}
			<a href="{% url 'bookindex' book.pk %}" class="btn btn-success">
				<span>下一页</span>
				<span class="fui-arrow-right"></span>
			</a>
			{% endif %}
		</div>
		<div class="col-xs-12">&nbsp;</div>
		<div class="col-xs-12">
			<div class="btn-group hidden-sm hidden-md hidden-lg">
				<a href="{% url 'bookindex' book.pk %}" class="btn btn-primary">回目录</a>
				<a href="javascript:;" class="btn btn-primary invert">反色</a>
			</div>
		</div>
		<div class="col-md-10 col-md-offset-1 text-center pagebutton">
			<div class="alert alert-info" role="alert" id="BMA" style="display:none;">
				书签已添加, 请到<strong>书架</strong>查看
			</div>
			<div class="alert alert-danger" role="alert" id="BMAERR" style="display:none;"></div>
		</div>
		<div class="col-xs-12">&nbsp;</div>
		<div class="col-xs-12">
		{% if user.is_superuser %}
		<a target="_blank" href="/admin/book/bookpage/{{bookpage.pk}}/">编辑信息</a>
		{% endif %}
		</div>
	</div>
</div>
{% endblock content %}

{% block footerjs %}
<script src="{% static 'js/spectrum/spectrum.js' %}"></script>
{{SESSIONS}}
<script>
(function($){
	$(document).keydown(function(e){
		var prev = "{%if bookpage.prev_number%}{% url 'bookpage' bookpage.prev_number %}{%else%}{% url 'bookindex' book.pk %}{%endif%}";
		var next = "{%if bookpage.next_number%}{% url 'bookpage' bookpage.next_number %}{%else%}{% url 'bookindex' book.pk %}{%endif%}";
		switch(e.which){
			case 37: location.href=prev;
			break;
			case 39: location.href=next;
			break;
		}
	});
	$(".btn.invert").click(function(){
		$('body').toggleClass('invert');
		$('.pagecontent').toggleClass('invert');
		$('.navbar').toggleClass('navbar-inverse');
		$('.breadcrumb').toggleClass('invert');
		$('footer').toggleClass('invert');
		$.get("./?invert=1",function(data){},'json');
		return false;
	});
	{% if invert %}
	$('body').toggleClass('invert');
	$('.pagecontent').toggleClass('invert');
	$('.navbar').toggleClass('navbar-inverse');
	$('.breadcrumb').toggleClass('invert');
	$('footer').toggleClass('invert');
	{% endif %}
	{% if user.is_authenticated %}
	$("#BMABtn").click(function(){
		$.post("{% url 'add_bookmark' %}", {pageid:'{{bookpage.pk}}'}, function(data){
			if(data.success){
				$('#BMA').slideDown();
				setTimeout(function(){$('#BMA').slideUp()},2000);
			}else{
				$('#BMAERR').text(data.error_message);
				$('#BMAERR').slideDown();
				setTimeout(function(){$('#BMAERR').slideUp()},5000);
			}
		}, 'json');
		return false;
	});
	$("#TBMABtn").click(function(){
		$.post("{% url 'add_bookmark' %}", {pageid:'{{bookpage.pk}}'}, function(data){
			if(data.success){
				$('#TBMA').slideDown();
				setTimeout(function(){$('#TBMA').slideUp()},2000);
			}else{
				$('#TBMAERR').text(data.error_message);
				$('#TBMAERR').slideDown();
				setTimeout(function(){$('#TBMAERR').slideUp()},5000);
			}
		}, 'json');
		return false;
	});
	{% else %}
	$("#BMABtn").click(function(){
		location.href = '{% url "login" %}?next='+location.href;
		return false;
	});
	$("#TBMABtn").click(function(){
		location.href = '{% url "login" %}?next='+location.href;
		return false;
	});
	{% endif %}
})(jQuery);
</script>
{% endblock footerjs %}
