{% extends "book/base.html" %}
{% load static %}
{% block pagetitle %} -- {{book.title}} {{bookpage.title_html}}{% endblock pagetitle %}
{% block keymeta %}{{book.title}};{{book.author}}{% endblock keymeta %}
{% block keydesc %}{{book.title}}VIP章节,{{book.title}}无弹窗最新章节,{{book.title}}小说是一部非常好的{{book.category}}类小说,本站还提供玄幻,武侠,网游,都市,军事等类别的小说免费阅读,好小说尽在看小说么{% endblock keydesc %}
{% block content %}
<div class="row" id="FIELD">
	<div class="col-md-12">
		<ol class="breadcrumb inv">
			<li class="hidden-xs"><a href="/">书籍列表</a></li>
			<li><a href="{% url 'bookindex' book.pk %}">{{book.title}}书目</a></li>
			<li class="active hidden-xs">{{bookpage.title_html}}</li>
		</ol>
	</div>
	<div class="col-md-12 text-center">
		<h2 class="text-center hidden-xs">{{bookpage.title_html}}</h2>
		<h5 class="text-center visible-xs">{{bookpage.title_html}}</h5>
		{% if user.is_superuser %}
		<div class="col-md-12" style="margin-bottom:5px;">
			<div class="btn-group text-center">
				<a class="btn btn-warning btn-sm pagefixpic" href="javascript:;" data-churl="{% url 'pagetaskcheck' bookpage.pk %}" data-url="{% url 'pagefixpic' bookpage.pk %}">更新图片章节</a>
				<a class="btn btn-success btn-sm" href="javascript:location.reload(true);">刷新当前页面</a>
			</div>
			<div class="">&nbsp;</div>
			<div class="alert alert-info" role="alert" style="display:none;">
				章节更新中
			</div>
		</div>
		{% endif %}
		<div class="btn-group">
			<a href="{% url 'bookindex' book.pk %}" class="btn btn-primary">回目录</a>
			<a href="javascript:;" class="btn btn-info TBMABtn" data-pn="{{bookpage.pk}}">加入书签</a>
			<a href="javascript:;" class="btn btn-primary invert">昼／夜</a>
		</div>
		<div class="col-md-10 col-md-offset-1 text-center pagebutton">
			<div class="alert alert-info" role="alert" id="TBMA{{bookpage.pk}}" style="display:none;">
				书签已添加, 请到<strong>书架</strong>查看
			</div>
			<div class="alert alert-danger" role="alert" id="TBMAERR{{bookpage.pk}}" style="display:none;"></div>
		</div>
	</div>
	<div class="col-md-12 hidden-xs">&nbsp;</div>
	<div class="col-md-1 hidden-xs">&nbsp;</div>
	<div class="col-md-10 pagecontent inv">
		<div class="col-md-5 hidden-lg hidden-md hidden-sm transparent_class PGDOWN"></div>
		<div class="col-md-5 hidden-lg hidden-md hidden-sm transparent_class PGUP"></div>
		{{bookpage.content_html|linebreaks}}
	</div>
	<div class="col-md-1 hidden-xs">&nbsp;</div>
	<div class="col-md-12 text-center pagebutton">
		<div class="btn-group">
			{% if bookpage.prev_number %}
			<a href="{% url 'bookpage' bookpage.prev_number %}" class="btn btn-success">
				<span class="fui-arrow-left"></span>
				<span>上一页</span>
			</a>
			{% else %}
			<a href="{% url 'bookindex' book.pk %}" class="btn btn-success">
				<span class="fui-arrow-left"></span>
				<span>上一页</span>
			</a>
			{% endif %}
			<a href="{% url 'bookindex' book.pk %}" class="btn btn-primary">回目录</a>
			{% if bookpage.next_number %}
			<a href="{% url 'bookpage' bookpage.next_number %}" class="btn btn-success">
				<span>下一页</span>
				<span class="fui-arrow-right"></span>
			</a>
			{% else %}
			<a href="{% url 'bookindex' book.pk %}" class="btn btn-success">
				<span>下一页</span>
				<span class="fui-arrow-right"></span>
			</a>
			{% endif %}
		</div>
		<div class="col-xs-12">&nbsp;</div>
		<div class="col-md-10 col-md-offset-1 text-center pagebutton">
			<div class="alert alert-info" role="alert" id="BMA" style="display:none;">
				书签已添加, 请到<strong>书架</strong>查看
			</div>
			<div class="alert alert-danger" role="alert" id="BMAERR" style="display:none;"></div>
		</div>
	</div>
	{% if user.is_superuser %}
	<div class="col-md-12 text-center bottombtn">
		<a target="_blank" href="/admin/book/bookpage/{{bookpage.pk}}/">编辑本章</a>
	</div>
	{% endif %}
	<div class="col-md-12">
		<hr/>
	</div>
	<div class="col-md-12 text-center bottombtn nextbox">
		<a class="readnall text-center" data-pn="{{bookpage.pk}}" href="javascript:;">阅读后续10章</a>
	</div>
</div>
{% endblock content %}

{% block footerjs %}
<script>
(function($){
	$(document).keydown(function(e){
		var prev = "{%if bookpage.prev_number%}{% url 'bookpage' bookpage.prev_number %}{%else%}{% url 'bookindex' book.pk %}{%endif%}";
		var next = "{%if bookpage.next_number%}{% url 'bookpage' bookpage.next_number %}{%else%}{% url 'bookindex' book.pk %}{%endif%}";
		switch(e.which){
			case 37: location.href=prev;
			break;
			case 39: location.href=next;
			break;
		}
	});
	scroller = false;
	$(".pagecontent").dblclick(function(){
		position = window.scrollY;
		if(scroller){
			clearInterval(scroller);
			scroller = false;
		}else{
			scroller = setInterval(function(){
				window.scrollTo(0, position);
				position += 1;
			}, 40);
		}
		return false;
	});
	{# 触屏翻页 #}
	function auto_width_pg(){
		content_width_haf = parseInt($(".pagecontent").width()/2);
		$(".PGDOWN").css("left",content_width_haf+15);
		$(".PGDOWN").css("width",content_width_haf+"px");
		$(".PGUP").css("width",content_width_haf+"px");
	};
	auto_width_pg();
	$(".PGDOWN").click(function(){
		window.scrollTo(0, window.scrollY+window.innerHeight-20);
	});
	$(".PGUP").click(function(){
		window.scrollTo(0, window.scrollY-window.innerHeight+20);
	});
	$(".btn.invert").die().live('click', function(){
		$('.inv').toggleClass('invert');
		$('.navbar').toggleClass('navbar-inverse');
		$('.btn').toggleClass('transparent_class');
		$.get("./?invert=1",function(data){},'json');
		return false;
	});
	$(".readnall").die().live('click', function(){
		var this_a = $(event.target);
		var page_number=this_a.data('pn');
		$.get('/nallpage/'+page_number, function(data){
			if(data.success){
				$('.nextbox').remove();
				$('#FIELD').append($(data.data));
				$('.col-md-12.text-center.pagebutton').remove();
				auto_width_pg();
				$(".PGDOWN").click(function(){
					window.scrollTo(0, window.scrollY+window.innerHeight-20);
				});
				$(".PGUP").click(function(){
					window.scrollTo(0, window.scrollY-window.innerHeight+20);
				});
			}
		}, 'json');
	});
	{% if invert %}
	$('.inv').toggleClass('invert');
	$('.navbar').toggleClass('navbar-inverse');
	$('.btn').toggleClass('transparent_class');
	{% endif %}
	{% if user.is_authenticated %}
	$("#BMABtn").click(function(){
		$.post("{% url 'add_bookmark' %}", {pageid:'{{bookpage.pk}}'}, function(data){
			if(data.success){
				$('#BMA').slideDown();
				setTimeout(function(){$('#BMA').slideUp()},2000);
			}else{
				$('#BMAERR').text(data.error_message);
				$('#BMAERR').slideDown();
				setTimeout(function(){$('#BMAERR').slideUp()},5000);
			}
		}, 'json');
		return false;
	});
	$(".TBMABtn").die().live('click', function(event){
		var this_a = $(event.target);
		var page_number=this_a.data('pn');
		$.post("{% url 'add_bookmark' %}", {pageid:page_number}, function(data){
			if(data.success){
				$('#TBMA'+page_number).slideDown();
				setTimeout(function(){$('#TBMA'+page_number).slideUp()},2000);
			}else{
				$('#TBMAERR'+page_number).text(data.error_message);
				$('#TBMAERR'+page_number).slideDown();
				setTimeout(function(){$('#TBMAERR'+page_number).slideUp()},5000);
			}
		}, 'json');
		return false;
	});
	$(".pagefixpic").die().live('click', function(event){
		var this_a = $(event.target);
		$.post(this_a.data('url'),{},function(data){
			if(data.success){
				var alert_window = this_a.parent().parent().find(".alert");
				alert_window.slideDown();
				setTimeout(function(){alert_window.slideUp()},10000);
				check_page_fn = function(){
					$.get(this_a.data('churl'), function(data){
						if(data.success){
							if(data.data.status === 'DONE'){
								clearInterval(check_page);
								location.reload(true);
							}
						}else{
							clearInterval(check_page);
							alert(data.error_message);
						}
					}, 'json');
				}
				check_page = setInterval(check_page_fn, 1500);
				check_page_fn();
			}else{
				alert(data.error_message);
			}
		},'json');
		return false;
	});
	{% else %}
	$("#BMABtn").click(function(){
		location.href = '{% url "login" %}?next='+location.href;
		return false;
	});
	$(".TBMABtn").die().live('click', function(){
		location.href = '{% url "login" %}?next='+location.href;
		return false;
	});
	{% endif %}
})(jQuery);
</script>
{% endblock footerjs %}
