| {% extends "book/base.html" %}
- block pagetitle
	| -- {{book.title}} 目录
- block keymeta
	| {{book.title}};{{book.author}}
- block keydesc
	| {{book.title}}VIP章节,{{book.title}}无弹窗最新章节,{{book.title}}小说是一部非常好的{{book.category}}类小说,本站还提供玄幻,武侠,网游,都市,军事等类别的小说免费阅读,好小说尽在看小说么
- block content
	.row.pagelist
		.col-md-12
			ol.breadcrumb
				li: a(href="/") 书籍列表
				li.active!= book.title
		.col-md-12
			h2.text-center!= book.title
	#Pages.row.pagelist
		#Alert.alert.alert-warning.alert-dismissible.hide(role="alert")
			button.close(type="button",data-dismiss="alert")
				span(aria-hidden="true") &times;
				span.sr-only Close
			strong 书籍不存在!
		div.alert.alert-info.alert-dismissible.text-center(role="alert")
			button.close(type="button",data-dismiss="alert")
				span(aria-hidden="true") &times;
				span.sr-only Close
			strong 书籍目录加载中, 请耐心等待......
- block footerjs
	script
		$(function(){
			$("#Pages").load('{% url "bookindexajax" book.pk %}', function(resp,status,xhr){
				if ( status == "error" ) {
					$("#Alert").show();
				}
			})
		});