| {% extends "book/base.html" %}
- block pagetitle
	| -- {{book.title}} 目录
- block keymeta
	| {{book.title}};{{book.author}}
- block keydesc
	| {{book.title}}VIP章节,{{book.title}}无弹窗最新章节,{{book.title}}小说是一部非常好的{{book.category}}类小说,本站还提供玄幻,武侠,网游,都市,军事等类别的小说免费阅读,好小说尽在看小说么
- block content
	.row.pagelist
		.col-md-12
			ol.breadcrumb
				li: a(href="/") 书籍列表
				li: a(href="{{book.get_category_url}}")!= book.category
				li.active!= book.title
		.col-md-12
			h2.text-center!= book.title
				small
					a(href="/?a={{book.author}}",title="{{book.author}}")
						| {{book.author}}
			p.text-center
				- with book.get_bookrank as bookrank
					| 总点击: {{bookrank.all_point}} 总推荐: {{bookrank.all_push}} 总收藏: {{bookrank.all_fav}}
		.col-md-12
			.panel.panel-info
				.panel-heading
					h3.panel-title 书籍简介
				.panel-body
					#content.caption!= book.info_html|linebreaks
				if user.is_superuser
					.panel-footer.admin
						a.btn.btn-danger.btn-xs(target="_blank",href="/admin/book/book/{{book.pk}}/") 编辑信息
						a.bookfixpic.btn.btn-danger.btn-xs(href="javascript:;",data-url="{% url 'bookfixpic' book.pk %}") 更新图章
	#Pages.row.pagelist
		for page in bookpages
			.col-md-4
				a.palette.palette-emerald.page-title(href="{{page.get_absolute_url}}")!= page.title_html
		//- #Alert.alert.alert-warning.alert-dismissible.hide(role="alert")
		//- 	button.close(type="button",data-dismiss="alert")
		//- 		span(aria-hidden="true") &times;
		//- 		span.sr-only Close
		//- 	strong 书籍不存在!
		//- div.alert.alert-info.alert-dismissible.text-center(role="alert")
		//- 	button.close(type="button",data-dismiss="alert")
		//- 		span(aria-hidden="true") &times;
		//- 		span.sr-only Close
		//- 	strong 书籍目录加载中, 请耐心等待......
- block footerjs
	script
		$(function(){
			$("#Pages").load('{% url "bookindexajax" book.pk %}', function(resp,status,xhr){
				if ( status == "error" ) {
					$("#Alert").show();
				}
			})
		});