{% extends "book/base.html" %}

{% block pagetitle %}
{% if author %} -- 作者-{{author}}{% else %}
{% if category %} -- {{category}}{% else %}最简洁的免费小说在线阅读,小说TXT下载网{% endif %}
{% endif %}
{% endblock pagetitle %}

{% block content %}
<div class="row" id="NAVID" data-nav="{% if categorynav %}{{categorynav}}{% else %}navallbook{% endif %}">
	{% if not search %}
	<div class="col-md-12 col-xs-12 col-sm-12">
		<ol class="breadcrumb">
			<li class="active">{% if category %}
				{{category}}类
			{% else %}
				{% if author %}{{author}}的{% endif %}
			{% endif %} 书籍列表</li>
		</ol>
	</div>
	{% endif %}
	{% for book in books %}
	<div class="col-xs-12 col-sm-6 col-md-4">
		<div class="panel panel-info">
			<div class="panel-heading">
				{% if not user.is_superuser %}
				<a class="visible-xs btn btn-primary pull-right" href="{{book.get_absolute_url}}">进入阅读</a>
				{% endif %}
				<h3 class="panel-title">
					<a href="{{book.get_absolute_url}}">{{book.title}}</a>
					<small>({{book.category}})</small>
				</h3>
				<span>&#8211;&#8211;&#8211;&#8211;<a href="/?a={{book.author}}">{{book.author}}</a></span>
			</div>
			<div class="hidden-xs bookinfo panel-body">
				<div class="caption">
					{{ book.info_html|linebreaks }}
				</div>
			</div>
			{% if user.is_superuser %}
			<div class="panel-footer">
				<a class="btn btn-primary" href="{{book.get_absolute_url}}">进入阅读</a>
				<a target="_blank" class="btn btn-danger" href="/admin/book/book/{{book.pk}}/">编辑信息</a>
			</div>
			{% else %}
			<div class="panel-footer hidden-xs">
				<a class="btn btn-primary" href="{{book.get_absolute_url}}">进入阅读</a>
			</div>
			{% endif %}
		</div>
	</div>
	{% empty %}
	{% if search %}
	<div class="jumbotron">
		<h1>真遗憾, 没找到诶!</h1>
		<p>要不要去别的网站试一试?</p>
	</div>
	{% else %}
	<div class="jumbotron">
		<h1>Hello, world!</h1>
		<p>...</p>
	</div>
	{% endif %}
	{% endfor %}
</div>
{% if pagination.has_other_pages %}
<div class="pagination">
	<ul>
		{% if pagination.has_previous %}
		<li class="btn btn-sm">
			<a href="#" data-num="1" class="fui-arrow-left"><span class="fui-arrow-left"></span></a>
		</li>
		<li class="btn btn-sm">
			<a href="#" data-num="{{pagination.previous_page_number}}" class="fui-arrow-left"></a>
		</li>
		{% endif %}
		<li class="active">
			<a href="javascript:;">{{pagination.number}}</a>
		</li>
		{% if pagination.has_next %}
		<li class="btn btn-sm">
			<a href="#" data-num="{{pagination.next_page_number}}" class="fui-arrow-right"></a>
		</li>
		<li class="btn btn-sm">
			<a href="#" data-num="{{pagination.paginator.num_pages}}" class="fui-arrow-right"><span class="fui-arrow-right"></span></a>
		</li>
		{% endif %}
	</ul>
</div>
{% endif %}
{% endblock content %}
