{% load static paragraphedit %}
{% for bookpage in bookpages %}
<div class="col-md-12 text-center">
	<h2 class="text-center hidden-xs">{{bookpage.title_html}}</h2>
	<h5 class="text-center visible-xs">{{bookpage.title_html}}</h5>
	{% if user.is_superuser %}
	<div class="col-md-12" style="margin-bottom:5px;">
		<a class="btn btn-success btn-sm{%if invert%} transparent_class{%endif%}" href="{{bookpage.get_absolute_url}}">单独阅读本章</a>
	</div>
	{% endif %}
	<div class="btn-group">
		<a href="{% url 'bookindex' book.pk %}" class="btn btn-primary{%if invert%} transparent_class{%endif%}">回目录</a>
		<a href="javascript:;" class="btn btn-info TBMABtn{%if invert%} transparent_class{%endif%}" data-pn="{{bookpage.pk}}">加入书签</a>
		<a href="javascript:;" class="btn btn-primary invert{%if invert%} transparent_class{%endif%}">昼／夜</a>
	</div>
	<div class="col-md-10 col-md-offset-1 text-center pagebutton">
		<div class="alert alert-info" role="alert" id="TBMA{{bookpage.pk}}" style="display:none;">
			书签已添加, 请到<strong>书架</strong>查看
		</div>
		<div class="alert alert-danger" role="alert" id="TBMAERR{{bookpage.pk}}" style="display:none;"></div>
	</div>
</div>
<div class="col-md-12 hidden-xs">&nbsp;</div>
<div class="col-md-1 hidden-xs">&nbsp;</div>
<div class="col-md-10 pagecontent inv{%if invert%} invert{%endif%}" data-pagenum="{{bookpage.pk}}" data-dellurl="{% url 'del_line' bookpage.pk %}">
		<div class="col-md-5 hidden-lg hidden-md hidden-sm transparent_class PGDOWN"></div>
		<div class="col-md-5 hidden-lg hidden-md hidden-sm transparent_class PGUP"></div>
	{{bookpage.content_html|paragraphlines}}
</div>
<div class="col-md-1 hidden-xs">&nbsp;</div>
{% if user.is_superuser %}
<div class="col-md-12 text-center bottombtn">
	<a target="_blank" href="/admin/book/bookpage/{{bookpage.pk}}/">编辑本章</a>
</div>
{% endif %}
<div class="col-md-12">
	<hr/>
</div>
{% if forloop.last %}
<div class="col-md-12 text-center bottombtn nextbox">
	<a class="readnall text-center" data-pn="{{bookpage.pk}}" href="javascript:;">阅读后续10章</a>
</div>
{% endif %}
{% endfor %}